Repository bounswe/bounswe2018group9, pull requests merged in 2018-11, with the labels that each got.

#262 docs(dev): correct local development script
  frontend/README.md
Labels: Platform: Documentation, Type: Maintenance

#313 Added follower,following,interests to the user data model
  backend/models/User.js
Labels: Platform: Backend

#321 Added update/add/get attendance endpoints.
  backend/controllers/EventController.js
  backend/routes/events.js
Labels: Platform: Backend, Priority: High

#332 Delete Event Functionality
  backend/controllers/EventController.js
  backend/routes/events.js
Labels: Platform: Backend, Type: Enhancement
